DEVENV_ROOT_FILE="$PWD/.devenv/root"
mkdir -p "$(dirname "$DEVENV_ROOT_FILE")"
printf %s "$PWD" > "$DEVENV_ROOT_FILE"
use flake . --override-input devenv-root "file+file://$DEVENV_ROOT_FILE" --no-pure-eval
